#flower {
    height: 60em; 
    max-width: 100%;
    top: 18%;
    margin: 0 auto;
    padding: 0; 
    background: white url('/images/dog1.jpg') no-repeat;    
    background-position: 0% 0%;
    background-size: cover;
    transition: all 0s ease-out;
}
